*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}

.top{
    background-color: #1A0B2E;
    border-bottom: 2px solid #26133f;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    
}

.line{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: #FFFFFF;
    margin: 18px 0px;
    font-size: 3rem;
}

nav span, .footer-container span{
    background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.menu{
    display: flex;
    gap: 32px;

}


.menu li{
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn{
   padding: 12px 16px; 
   font-weight: 700;
   border-radius: 10000px;
   border: none;
   background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    color: #FFFFFF;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.subscribe{
    background: transparent;
    border: 0.5px solid #00FF88;
    color: #00FF88;
    font-weight: 600;
}


.hero {
    background: url("../assets/hero-bg.png") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



.graphic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mic{
    position: absolute;
    left: 135px;


}

.new-tag {
    position: absolute;
    top: 20px;
    right: 40px;
    background : #00FF88;
    color: #1A0B2E;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(0, 255, 157, 0.5);
}

.hero-text h1 {
    font-size: 60px;
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.hero-text p {
    margin-bottom: 24px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.circle img{
    width: 420px;

}

.mic img {
    width: 150px;

}

.about{
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 50px 200px 120px;
}

.about-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

.about-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-container p, .card p, .video-text p, .host-text p, .footer-container p{
    line-height: 20px;
    opacity: 80%;
    font-size: 14px;
}

.about-container hr{
    margin: 80px 0px;
    border: 1px solid #26133f;
}

.key-points{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;


}

.point h2{
    color: #00FF88;
}
.point h5{
    opacity: 80%;
}

.choose{
    background-color: #230E3D;
    color: #FFFFFF;
    text-align: center;
    padding: 120px 200px;
}

.choose h1, .feature-container h1, .host h1{
    margin-bottom: 40px;
    font-size: 3rem;

}


.card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto); 
    gap: 20px;
}

.first {
    grid-row: span 2;
}

.third, .fourth, .second {
    grid-column: span 2;
}


.fifth {
   
}

.card {
    background-color: #35116588;
    border-radius: 20px; 
    padding:  30px; 
    text-align: start;
}

.content{
    margin: 70px 10px;
}

.card img{
    margin-bottom: 16px;
}



.card h4, .vid h3, .host-text h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.featured{
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 120px 200px;
}

.feature-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}



.video-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;

}

.video-text{
    padding: 24px;
}

.clock{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 12px;
    color: #00FF88;
}

.vid {
    padding: 0;
}

.video{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 380px;
    height: 210px;
}

.hst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.host{
    margin-top: 120px;
}

.hst ul{
    list-style: none;

}

.host-text p{
    margin-bottom: 16px;
}

.links ul{
    display: flex;
    gap: 8px;
    list-style: none;
}


.links img{
    width: 25px;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 3px;
    margin: 10px 0px;
   
}

.lkd img{
    width: 15px;
}

footer{
    text-align: center;
    color: #FFFFFF;
    background: url(../assets/footer-bg.png) no-repeat center center/cover;
    
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px;
}

.footer-container h1{
    font-size: 3rem;
    margin-bottom: 32px;
}

.footer-container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 32px;
}

.footer-container ul a{
    text-decoration: none;
    color: #FFFFFF;
}

.social{
    display: inline-flex;
    gap: 10px;
    
}









@media screen and (max-width:576px) {
    
    
    .menu{
        display: none;
    }
    .top button{
        display: none;
    }

    .navbar{
        margin: 0 20px;
    }

    nav h1{
        font-size: 2rem;
    }

    .line{
        display: inline;
    }

    .hero{
       background: url("../assets/responsive\ bg.png") no-repeat center center/cover;
    }

    .hero-text h1, .featured h1{
        font-size: 40px;
        
    }

    .hero-text p{
        width: 400px;
        
    }

    .hero-text{
        margin-top: 150px;
    }

    .graphic-container{
        position: absolute;
        top: 180px;
    }

    .graphic-container img{
        width: 250px;
    }

    .mic img{
        width: 80px;
    }

    .mic{
        left: 88px;
    }

    .new-tag {
        top: 10px;
        right: 10px;
    }

    .about{
         padding: 30px 20px;
    }

    .about-container{
        width: fit-content;
        text-align: center;
    }

    .about-container hr{
        margin: 50px 0px;
    }

    .key-points{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-content: center;
        column-gap: 100px;
        row-gap: 100px;

    }
    



    .choose{
        padding: 30px 30px;
    }

    .card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto); 
    gap: 20px;
    }

    .card {
    background-color: #35116588;
    border-radius: 20px; 
    text-align: start;
    }

    .content{
    margin: 0;
    }
    

    .choose h1{
    margin-bottom: 20px;
    font-size: 2rem;

    }

    .featured{
        padding: 40px 30px;
    }

    .video-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

    }
    
    .video{
        width: 516px;
        height: 290px;
    }

    .video-text{
        padding: 16px;
    }

    .host{
        margin-top: 70px;
    }

    .hst{
        flex-direction: column;
        gap: 18px;
        text-align: center;
    }

    .links ul{
        gap: 8px;
        list-style: none;
        justify-content: center;
    }


    .hst{
        padding: 20px;
    }

    .footer-container{
        padding: 40px;
    }

    .footer-container ul{
        gap: 40px;
        margin-bottom: 32px;
        flex-wrap: wrap;
        width: 400px;
    }

    .footer-social{
        margin-left: 50px;
    }




    


}
