*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}

.top{
    background-color: #1A0B2E;
    border-bottom: 2px solid #52268b;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: #FFFFFF;
    margin: 18px 0px;
    font-size: 3rem;
}

nav span{
    background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.menu{
    display: flex;
    gap: 32px;

}

.menu li{
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn{
   padding: 12px 16px; 
   font-weight: 700;
   border-radius: 10000px;
   border: none;
   background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    color: #FFFFFF;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}