*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;  
}

.top{
    background-color: #1A0B2E;
    border-bottom: 2px solid #26133f;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    
}

.line{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    color: #FFFFFF;
    margin: 18px 0px;
    font-size: 3rem;
}

nav span{
    background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.menu{
    display: flex;
    gap: 32px;

}


.menu li{
    list-style: none;

}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn{
   padding: 12px 16px; 
   font-weight: 700;
   border-radius: 10000px;
   border: none;
   background: linear-gradient(to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5);
    color: #FFFFFF;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.subscribe{
    background: transparent;
    border: 0.5px solid #00FF88;
    color: #00FF88;
    font-weight: 600;
}


.hero {
    background: url(/assets/hero-bg.png) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



.graphic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mic{
    position: absolute;
    left: 135px;


}

.new-tag {
    position: absolute;
    top: 20px;
    right: 40px;
    background : #00FF88;
    color: #1A0B2E;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 0 15px rgba(0, 255, 157, 0.5);
}

.hero-text h1 {
    font-size: 60px;
    margin-top: 40px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.hero-text p {
    margin-bottom: 24px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.circle img{
    width: 420px;

}

.mic img {
    width: 150px;

}    


@media screen and (max-width:576px) {
    
    
    .menu{
        display: none;
    }
    .top button{
        display: none;
    }

    .navbar{
        margin: 0 20px;
    }

    nav h1{
        font-size: 2rem;
    }

    .line{
        display: inline;
    }

    .hero{
       
    }

    .hero-text h1{
        font-size: 40px;
        
    }

    .hero-text p{
        width: 400px;
        
    }

    .graphic-container img{
        width: 100%;
    }

    .mic{
        left: 120px;
    }

    .new-tag {
        right: 20px; 
    }

    

    
}
